<table>
<tr>
<td>
<%= render partial: "sessions/change_view" %>
</td>
<td>
<h2>
  Admins
</h2>
</td>
</tr>
</table>
<% if @admin.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@admin.errors.count, "error") %>.
    </div>
    <ul>
    <% @admin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "admins_table" %>
