/* Provides function:
add_student()
- check to see if the student exists
- if not, prompt the user to create the student
- call this function when complete: student_found(student) 
*/
function add_student(first_name, last_name, school_id) {
  clear_error()
  if (!first_name || !last_name)
    return false
  $.ajax("/students/search",
    { method: "POST", dataType: "json", data: { first_name: first_name, last_name: last_name, school_id: school_id }})
    .done(function(student) {
      if (student && student.id > 0)
        student_found(student)
      else
        student_not_found(first_name, last_name, school_id)
    })
    .fail(function(result) {
      student_not_found(first_name, last_name, school_id)
    })
}
function clear_error() {
  $("#error_wrapper").html('')
}
function set_error(message) {
  $("#error_wrapper").html(`<ul><li>${message}</li></ul>`)
}
function student_not_found(first_name, last_name, school_id) {
  alert("No student by that name at that school.")
}