<%
  # Parameters
  # object : an ActiveRecord object from which to read the errors
%>
<div id="error_wrapper">
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Please correct the following:
    </div>
    <ul>
    <% object.errors.keys.each do |key| %>
      <% object.errors.details[key].each_with_index do |detail,i| %>
        <% if detail[:error] != :invalid %>
          <li><%= object.errors.messages[key][i] %></li>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
</div>