<%
  # Parameters
  # object : an ActiveRecord object from which to read the errors
%>
<div id="error_wrapper">
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Please correct the following:
    </div>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <% if not message.include? "invalid" %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
</div>