<h2> All Lessons </h2>
<% if @lesson && @lesson.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@lesson.errors.count, "error") %>.
    </div>
    <ul>
    <% @lesson.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render partial: "lessons/editable_table" %>
<p>
  Download:
  <%= link_to "Excel", lessons_path(format: "xls"), id: "xls_link" %>
</p>
<script>
var search_fields = {}
// Watch search fields and update the XLS link with their values
$(function() {
  $(".search_field").each((i,e) => { search_fields[e.getAttribute("id")] = e.value })
  update_xls_link()
  $(".search_field").on("change", update_xls_link)
})
function update_xls_link() {
  if ($(this).attr("id")) { search_fields[$(this).attr("id")] = $(this).val() }
  let link = $("#xls_link").attr("href")
  if (link.indexOf('?') > 0) { link = link.substring(0, link.indexOf('?')) }
  link += '?' + new URLSearchParams(search_fields).toString()
  $("#xls_link").attr("href", link)
}
</script>
