<table>
<tr><th>Time In</th><th colspan="2">Teacher</th></tr>
<% teachers.each do |teacher| %>
<tr>
	<td><%= teacher.last_login.time_in.strftime(Lesson::TIME_FORMAT) %></td>
	<td><%= teacher.first_name %></td>
	<td><%= teacher.last_name %></td>
</tr>
<% end %>
</table>