<table>
<tr><th>Check In Time</th><th>Teacher</th></tr>
<% teachers.each do |teacher| %>
<tr><td><%= teacher.last_login.time_in.strftime(Lesson::DATETIME_FORMAT) %></td><td><%= teacher.firstName %> <%= teacher.lastName %></td></tr>
<% end %>
</table>