<table>
<tr><th>Check In Time</th><th>Teacher</th></tr>
<% teachers.each do |teacher| %>
<tr>
	<td class="cent"><%= teacher.last_login.time_in.strftime(Lesson::TIME_FORMAT) %></td>
	<td class="cent"><%= teacher.first_name %> <%= teacher.last_name %></td>
</tr>
<% end %>
</table>