<table>
<tr>
<td>
<%= form_for(@changev, url: '/teachers/change_view' ) do |f| %>
<%    f.submit "#{@changev}", name: "changev" %>
<%  end %>
</td>
<td>
<h2>
  Teachers
</h2>
</td>
</tr>
</table>
<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@teacher.errors.count, "error") %>.
    </div>
    <ul>
    <% @teacher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: "teachers_table" %>
