<table>
<tr>
<td>
  <h2> <%= @teacher.firstName %> </h2>
</td>
<td>
  <h2> <%= @teacher.lastName %> </h2>
</td>
<td>
<%= form_for(@title, url: '/teachers/change_table' ) do |f| %>
<%    f.submit "#{@title}", name: "changet" %>
<%  end %>
</td>
<tr>
<table>

<%= render partial: "#{@what_table}" %>
