<h2>Sessions</h2>
<%= render '/shared/error_messages', object: Course.new %>  <!-- Used by clone and delete actions -->
<% if @current_courses.length > 0 %>
  <% if @past_courses.length > 0 %>
    <h3>Current</h3>
  <% end %>
  <%= render partial: "course_table", locals: { courses: @current_courses } %>
  <br>
<% elsif !current_user.admin? %>
  <div class="courses_empty_message">Nothing here yet.  When an administrator assigns you a session, it will appear here.</div>
  <br><br>
<% end %>
<% if current_user.admin? %>
  <%= button_to "New Session", (url_for action: :new), method: :get %>
<% end %>
<% if @past_courses.length > 0 %>
  <h3>Past</h3>
  <%= render partial: "course_table", locals: { courses: @past_courses } %>
<% end %>
