<h2>Courses</h2>
<% if @current_courses.length > 0 %>
  <% if @past_courses.length > 0 %>
    <h3>Current</h3>
  <% end %>
  <%= render partial: "course_table", locals: { courses: @current_courses } %>
  <br>
<% end %>
<%= button_to "New Course", (url_for action: :new), method: :get %>
<% if @past_courses.length > 0 %>
  <h3>Past</h3>
  <%= render partial: "course_table", locals: { courses: @past_courses } %>
<% end %>
