<h2>Courses</h2>
<h3>Current</h3>
<%= render partial: "course_table", locals: { courses: @current_courses } %>
<br>
<%= button_to "New Course", (url_for action: :new), method: :get %>
<h3>Past</h3>
<%= render partial: "course_table", locals: { courses: @past_courses } %>
