/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { font-family: sans-serif; }
label { margin-top: 10px; }


.all-block * { display:block; }
.btn { margin: 10px; }
.radio-nolabel { display:inline; }
.radio-withlabel * { display:inline; }
.radio-label-inline { display:inline; font-size: 0.875em; }
.checkbox-withlabel * { display:inline; }
.inline * { display:inline; }
/* admin table entries */
.sideways { writing-mode: vertical-rl; text-orientation: mixed; }
.delete { width: 7em; margin: 0px; padding: 0px; text-align: center }
.welcome { width: 6em; margin: 0px; padding: 0px; text-align: center }
.hours { width: 5em; margin: 0px; padding: 0px; text-align: center }
.email { width: 9em; margin: 0px; padding: 0px }
.fname { width: 5em }
.lname { width: 5em }
.date { width: 5.2em }
.timein{ width: 7em }
.cent { text-align: center; width: 3em }
.updatetab { width: 8em; margin: 0px; padding: 0px; text-align: center }
table.stdnt {
  border-collapse: collapse;
}
table.stdnt td, th {
  border: 1px solid black
}
textarea.notes {
	width: 100%;
	box-sizing: border-box;
}
